@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Page Title -->
    <h1 class="display-4">Royal Paws Procuts</h1>
    <!-- Slogan? -->
    <h3>Place where every pet gets royal treatment</h3>
    <p>Here you can get your pet Hair Grooming, Bathing, Nail Clipping, and Oral Care Services</p>

</div>
